#paper-canvas {
  width: 95vw;
  height: 95vh;
  background-color: cornflowerblue;
  border-width: 1em;
  border-color: black;
}

canvas[resize] {
  width: 95vw;
  height: 95vh;
}

body {
  font-size: 5em;
}
